[Desktop Entry]
Name=MissingNo.
Comment=Game Boy emulator and debugger
Exec=missingno %f
Icon=io.github.ajoneil.MissingNo
Terminal=false
Type=Application
Categories=Game;Emulator;
