[Desktop Entry]
Name=Missingno
Comment=Multi-system emulator and debugger
Exec=missingno %f
Icon=net.andyofniall.missingno
Terminal=false
Type=Application
Categories=Game;Emulator;
